/* 功能：
 * 大标题居中
 * 设置字体
 * 图片居中、调整大小
 * 表格居中
 *
 * 有些效果在进入预览模式时和导出时才会生效
 */

/* h1居中*/
h1 {
  text-align: center;
}

h2 {
  font-family: SimHei !important;
}
h3 {
  font-family: KaiTi !important;
}
h4 {
  font-family: KaiTi !important;
}

/*
body {
  font-family: STZhongsong;
}*/


b, strong {
  font-family: SimHei;
}
i, em {
  font-family: KaiTi;
  font-style: normal;
}


/* 图片居中 */
img {
  display: block;
  margin: 0 auto;
  width: 80% !important;
}

/* 表格属性，配合Advanced Tables插件 */
table {
  margin: 0 auto;
  width: 80%;
  border: 2px solid black;
}
